<% @message = message %>
    <div>
        <div class="card-header fw-bold">
            <%= @message.agent.name %>
        </div>
        <div class="card-body">
            <p class="card-text"><%= @message.message_text %></p>
        </div>
    </div>
